.section-main {
  height: 100vh;
}

.section-main .main-page-container {
  width: 90%;
  margin-left: 18%;
  margin-top: 19vh;
  display: flex;
  font-family: "Nunito", sans-serif;
}

@media only screen and (max-width: 1300px) {
  .section-main .main-page-container {
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .section-main .main-page-container {
    margin-left: 10%;
  }
}


.section-main .main-page-container .left-container {
  width: 55%;
  display:flex;
  flex-direction: column;
  margin-top: 5vh;
}

@media only screen and (max-width: 1300px) {
  .section-main .main-page-container .left-container {
    width: 100%;
    margin-top: 0vh;
  }
}
.section-main .main-page-container .left-container .title {
  font-size: 4em;
  font-weight: bold;
  color: #28363d;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #8541AA;
}
@media only screen and (max-width: 1000px) {
  .section-main .main-page-container .left-container .title {
    font-size: 4em;
    width: 50%;
  }
}

.section-main .main-page-container .left-container .boy {
  width: 80px;
}
@media only screen and (max-width: 1450px) {
  .section-main .main-page-container .left-container .boy {
    width: 100px;
    display: none;
  }
}
.section-main .main-page-container .left-container .localization-ico {
  width: 29px;
  margin-left: 10px;

}
@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .localization-ico {
    width: 20px;
  }
}
.section-main .main-page-container .left-container .description {
  font-size: 1.5em;
  font-family: "Helvetica";
  font-weight: bold;
  width: 100%;
  color: #454545;
}
@media only screen and (max-width: 1500px) {
  .section-main .main-page-container .left-container .description {
    width: 100%;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1000px) {
  .section-main .main-page-container .left-container .description {
    width: 80%;
  }
}


@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .description {
    font-size: 2em;
  }
}
.section-main .main-page-container .left-container .social-ico {
  width: 50px;
  margin: 40px 10px 20px 0px;
  cursor: pointer;
  z-index: -1;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.section-main .main-page-container .left-container .social-ico:hover, .section-main .main-page-container .left-container .social-ico:focus {
  filter: grayscale(0);
}
.section-main .main-page-container .left-container .social-box {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  width: 8rem;
}


.section-main .main-page-container .left-container .social-box .social-single-box {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: #658b6f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-right: 40px;
  cursor: pointer;
  
}

.tech-stack {
  margin-top:8vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1110px) {
  .section-main .main-page-container .left-container .social-box .social-single-box {
    width: 60px;
    height: 60px;
  }

  .section-main .main-page-container .left-container .social-box {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
    width: 8rem;
  }

}
@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .social-box .social-single-box {
    margin-top: 10px;
  }
}
.section-main .main-page-container .left-container .social-box .tech-ico1 {
  width: 55px;
  margin-top: 5px;
  margin-left: 5px;
}
@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .social-box .tech-ico1 {
    width: 40px;
  }
}
.section-main .main-page-container .left-container .social-box .tech-ico2 {
  width: 65px;
  margin-top: 0px;
  margin-left: 5px;
}
@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .social-box .tech-ico2 {
    width: 50px;
  }
}
.section-main .main-page-container .left-container .social-box .tech-ico3 {
  width: 70px;
  margin-top: 0px;
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  .section-main .main-page-container .left-container .social-box .tech-ico3 {
    width: 55px;
  }
}
.section-main .main-page-container .left-container .social-box span {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 5px;
}
.section-main .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35%;
  margin-right: 30vw;
  margin-top: 5vh;
}
@media only screen and (max-width: 1300px) {
  .section-main .right-container {
    display: none;
  }
}
.section-main .right-container .avatar {
  width: 15em;
  height: 15em;
  position: absolute;
  border-radius: 120px;
}
