header {
  width: 100%;
  background-color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  gap: 20px;
  color: #28363d;
  z-index: 3;
  font-family: "Nunito", sans-serif;
  margin-top: -20vh;
}

nav a {
	margin: 1rem -2rem;
	text-decoration: none;
	margin-top: 1rem;
	margin-right: 2rem;
	width: 6rem;
	margin-left: 0rem;
	color: linear-gradient(to right, #1a237e, #9c27b0); /* Gradient from dark blue to purple */
}

	  /* Remove the red color when the link is clicked */
	  a:active {
		color: #9c27b0; /* Set the header text color as the text color when the link is active (clicked) */
	  }

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: white;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

nav {
  margin-left: 55%;
}


.nav-logo > img {
  width: 8rem;
  max-height: 100px;
  max-width: 110px;
  overflow: hidden;
  margin-top: 1.5vh;
}

@media only screen and (min-width: 1500px) {
	a {
		position: relative;
		display: inline-block;
		font-size: 18px;
		margin-bottom: 20px;
		cursor: pointer;
		width: 100%;
	  }
	  
	  /* Animated underline styles */
	  a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -5px;
		width: 0;
		height: 2px;
		background: linear-gradient(to right, #1a237e, #9c27b0); /* Gradient from dark blue to purple */
		z-index: -1;
		transition: width 0.3s ease; /* Transition for the animated underline */
	  
	  }
	  
	  a.clicked::after {
		width: 100%; /* Expand the underline when the header is clicked */
	  }
	  
	  /* Remove the red color when the link is clicked */
	  a:active {
		color: #9c27b0; /* Set the header text color as the text color when the link is active (clicked) */
	  }
}


@media only screen and (max-width: 1500px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
    margin-right: 10%;
    margin-top: 0.5rem;;
	}

  nav a {
    width: 10rem !important;
    width: 50%;
  }

	header nav {
		position: fixed;
		top: -120vh;
		left: 0;
		height: 100%;
		width: 110%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgb(237, 225, 255);
		transition: 1s;
        margin-left: 0%;
	}

	header .responsive_nav {
		transform: translateY(120vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 3rem;
    background-color: transparent;
	}

	nav a {
		font-size: 1.5rem;
    display: flex;
    justify-content: center;
	}


}