.Cards {
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 150%;
  margin: 8vh 20vw;
  flex-direction: row;
}

.Cards .Card {
  margin-bottom: 30px;
  margin-left: 100px;
}

@media (max-width: 800px) {
  .Cards {
    flex-direction: column;
    height: auto; 
    margin: 55vh 20vw; 
  }

  .Cards .Card {
    margin-bottom: 15px; 
  }
}