.Cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  margin: 7vh 18vw;
  flex-direction: row;
}

@media (max-width: 800px) {
  .Cards {
    flex-direction: column;
    margin-top: 100vh;
    margin-bottom: 100vh;
  }
}