.Cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  margin: 30vh 18vw;
  flex-direction: row;
}

@media (max-width: 800px) {
  .Cards {
    flex-direction: column;
    height: 200%;
    margin-top: 50vh;
    margin-bottom: -10%;
  }
}