.Card {
    height: 40vh;
    width: 28vh;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0vh 4vh;
}

.ProjectImg {
    height: 25vh;
    width: 28vh; 
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.InvoiceAI {
    background-image: url('../../assets/invoiceAI.jpg'); /* Path to your image */
}
  
.Gia {

    background-image: url('../../assets/giaLogo.png'); /* Path to your image */
}

.Andie {
    background-image: url('../../assets/and.jpg'); /* Path to your image */
}

.Lab2Client {
    background-image: url('../../assets/lab2client.jpg'); /* Path to your image */
}

.IEEE {
    background-image: url('../../assets/TMUIEEE.jpg');
}

.IBM {
    background-image: url('../../assets/WatsonStudio.png');
}

.Card > .text {
    height: 18vh;
    width: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card > .text > .header {
    font-weight: bold;
    color: #8541AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    font-size: 1.75vh;
    margin: 1vh 2vw;
    width: 150px;
}

.Card > .text > .header > img {
    margin-top: 0.4vh;
    margin-left: 1vh;
}

.Card > .text > .body {
    font-size: 1.10vh;
    font-weight: bolder;  
    color: #7D7D7D;
    padding: 0vh .6vh;
    margin: 0 0vw;
    text-align: center;
    
}

.Card > .text > .footer {
    margin-top: 2vh;
}

@media (max-width: 800px) {
    .Card {
      margin-top: 10vh;
    }
  }